<div>
  <h1>Login</h1>
</div>

<div ng-if="api_errors" class="error">
  <p>{{api_errors.message}}</p>
</div>

<div class="body">
  <div>
    Email: <input ng-model="user_sign_in.email" />
  </div>
  <div>
    Password: <input type="password" ng-model="user_sign_in.password" />
  </div>

  <button ng-click="sign_in()" class="btn btn-primary">Sign in</button>
  <button ng-click="sign_out()" class="btn btn-primary">Sign out</button>
</div>



<div>
  <h1>Sign Up</h1>
</div>

<div class="body">
  <div>
    Email: <input ng-model="user_sign_up.email" />
  </div>

  <div>
    Password: <input type="password" ng-model="user_sign_up.password" />
  </div>

  <div>
    Confirm password: <input type="password" ng-model="user_sign_up.password_confirmation" />
  </div>

  <button ng-click="sign_up()" class="btn btn-primary" >Sign up</button>
</div>
