<header id="landing-header" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Epicuration</a>
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Accueil</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#/login">Connexion</a>
        </li>
        <li>
          <a href="/">Inscription</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="landing-part1">
  <div class="container">
    <h1>Landing page</h1>
    <a href="/" class="btn btn-success btn-info btn-lg pull-right">
      INSCRIPTION <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
</div>

<div id="landing-part2" class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="images/placeholder-hexagon.jpg" />
          <h4>Retrouvez facilement vos recettes</h4>
          <p>Basic panel example basic panel example basic panel example basic panel example basic panel example</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="images/placeholder-hexagon.jpg" />
          <h4>Retrouvez facilement vos recettes</h4>
          <p>Basic panel example basic panel example basic panel example basic panel example basic panel example</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="images/placeholder-hexagon.jpg" />
          <h4>Retrouvez facilement vos recettes</h4>
          <p>Basic panel example basic panel example basic panel example basic panel example basic panel example</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="images/placeholder-hexagon.jpg" />
          <h4>Retrouvez facilement vos recettes</h4>
          <p>Basic panel example basic panel example basic panel example basic panel example basic panel example</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="landing-part3">
  <div class="container">
    <h1>Regroupez vos recettes</h1>
    <h2>En un seul endroit</h2>
  </div>
</div>

<div id="footer">
  <div class="container">
    Footer
  </div>
</div>